Default Home Page<br>
Useful stuff:<br>
<ul>
	<li>cfg/config.php -> you can set default homepage there </li>
	<li>views/layout.html -> layout. Any &lt;!--content--> will be replaced with page content. <br>Example: http:{$this->cfg('path','absolute_path')}home<br>will populate the content comment in layout with the content form views/home.html</li>
	<li>for more examples pls visit: <a href="http:{$this->cfg('path','absolute_path')}test">http:{$this->cfg('path','absolute_path')}test</a>
	</li>
</ul>