		<style>
			@import url(http://fonts.googleapis.com/css?family=Roboto:400);
			.container {
				padding: 25px;
				
			}
			.form-login {
				background-color: #EDEDED;
				padding-top: 10px;
				padding-bottom: 20px;
				padding-left: 20px;
				padding-right: 20px;
				border-radius: 5px;
				border-color:#d2d2d2;
				border-width: 5px;
				box-shadow:0px 0px 5px #6779fa;
			}
			h4 { 
			 border:0 solid #fff; 
			 border-bottom-width:1px;
			 padding-bottom:10px;
			 text-align: center;
			}
			.form-control {
				border-radius: 3px;
			}
			.wrapper {
				text-align: center;
			}
		</style>
		<form method="post" name="my_form">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-5 col-md-3">
					<div class="form-login">
					<h4>Please Login.</h4>
					<input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"	name="user"/>
					</br>
					<input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" name="pass"/>
					</br>
					<div class="wrapper">
					<span class="group-btn">     
						<a onClick="document.forms.my_form.submit();" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
					</span>
					</div>
					</div>				
				</div>
			</div>
		</div>
		</form>